<div ngClass="outer-container">
  <div ngClass="inner-container">
    <h1>Testing Logo library</h1>
    <div ngClass="content">
      <enl-logotyphantering-lib  [editMode]="true"></enl-logotyphantering-lib>
    </div>
    <div>
      <p>83497989 edit false</p>
      <enl-logotyphantering-lib arbetsplatsId="83497989" [editMode]="false"></enl-logotyphantering-lib>
    </div>
    <div>
      <p>83504370 edit true</p>
      <enl-logotyphantering-lib arbetsplatsId="83504370" [editMode]="true"></enl-logotyphantering-lib>
    </div>
    <div>
      <p>83504492 edit true</p>
      <enl-logotyphantering-lib arbetsplatsId="83504492" [editMode]="true"></enl-logotyphantering-lib>
    </div>
    <div>
      <p>83504493 edit true</p>
      <enl-logotyphantering-lib arbetsplatsId="83504493" [editMode]="true"></enl-logotyphantering-lib>
    </div>
    <div>
      <p>83504496 edit true</p>
      <enl-logotyphantering-lib arbetsplatsId="83504496" [editMode]="true"></enl-logotyphantering-lib>
    </div>
    <div>
      <p>"" edit none</p>
      <enl-logotyphantering-lib arbetsplatsId=""></enl-logotyphantering-lib>
    </div>
    <div>
      <p>"" edit true</p>
      <enl-logotyphantering-lib arbetsplatsId="" [editMode]="true"></enl-logotyphantering-lib>
    </div>
    <div>
      <p>63942739 edit none</p>
      <enl-logotyphantering-lib arbetsplatsId="63942739"></enl-logotyphantering-lib>
    </div>
    <div>
      <p>63942739 edit true</p>
      <enl-logotyphantering-lib arbetsplatsId="63942739" [editMode]="true"></enl-logotyphantering-lib>
    </div>

  </div>
</div>
