$ipad-layout-width: 768px;
$mobile-large-layout-width: 522px;
$mobile-layout-width: 320px;
$responsive-layout-width: 1200px;

$primary: #00005a;
$green: #11a386;
$yellow: #fddc41;
$red: #e21c50;
$blue: #1616b2;
$white: #fff;
$gray-10: #f9f9f9;
$gray-20: #efefef;
$gray-30: #d1d1d1;
$gray-50: #999;
$gray-70: #666;
$gray-90: #333;
$black: #000;
